<!DOCTYPE html>
<html>
<head>
  <title>Todoro</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= brand_logo %>
      <%= tabs %>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
